= form_for @asperity do |f|
  =error_messages_for @asperity

  .form-group
    = f.label :number
    = f.text_field :number, class: 'form-control'
  .form-group
    = f.label :drawing
    = f.text_field :drawing, class: 'form-control'
  .form-group
    = f.label :form_poverh
    = f.text_field :form_poverh, class: 'form-control'
  .form-group
    = f.label :type_poverh
    = f.text_field :type_poverh, class: 'form-control'
  .form-group
    = f.label :complexity
    = f.text_field :complexity, class: 'form-control'
  %p
    .form-actions
      = f.submit  nil, class: 'btn btn-primary'