= link_to 'Вернуться', asperities_path, {:class => 'btn btn-default'}
.page-header
%p
  %b Номер:
  = @asperity.number
%p
  %b Чертеж:
  = @asperity.drawing
%p
  %b Форма:
  = @asperity.form_poverh
%p
  %b Тип:
  = @asperity.type_poverh
%p
  %b Тип:
  = @asperity.complexity


