= form_for @section do |f|
  =error_messages_for @section

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :drawing
    = f.text_field :drawing, class: 'form-control'
  .form-group
    = f.label :inventory_number
    = f.text_field :inventory_number, class: 'form-control'
  .row
    .col-sm-4
      .form-group
        = f.label :asperity_id
        = f.select :asperity_id, Asperity.all.map{|c| [c.number,c.id]},{}, class: 'form-control'
  %p
    .form-actions
      = f.submit  nil, class: 'btn btn-primary'
