= link_to 'Вернуться', sections_path, {:class => 'btn btn-default'}
.page-header
%p
  %b Название:
  = @section.name
%p
  %b Чертеж:
  = @section.drawing
%p
  %b Инвентарный номер:
  = @section.inventory_number
%p
  %b Подходящее оборудоване:
  - unless @machines.empty?
    = @machines.map{|m| m.name}.join(', ')
%p
  %b Подходящие измерительные приборы:
  - unless @devices.empty?
    = @devices.map{|m| m.name}.join(', ')
%p
-if session[:user_id].nil? == false
  = link_to 'Исправить', edit_section_path(@section), :class => "btn btn-success"
